@media (max-width: 360px) {
  .w3-col.l12 {
    width: 99.99999%;
  }

  .w3-col,
  .w3-half,
  .w3-third,
  .w3-twothird,
  .w3-threequarter,
  .w3-quarter {
    // float: left;
    width: 100%;
  }

  div {
    display: block;
  }

  .w3-light-grey,
  .w3-hover-light-grey:hover,
  .w3-light-gray,
  .w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
  }


  .w3-white,
  .w3-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important;
  }

  .w3-margin {
    margin: 16px;
  }

  .w3-card-4,
  .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .w3-container {
    padding: 0.01em 16px;
  }

  .w3-opacity,
  .w3-hover-opacity:hover {
    opacity: 0.60;
  }

  textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none;
    width: 100%;
  }

  .buttomNew {
    border: 0;
    padding: 10px 20px;
    margin-right: 16px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  .buttomEdit {
    border: 0;
    padding: 10px 20px;
    margin-right: 5px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;

  }

  .buttomDel {
    border: 0;
    text-align: right;
    padding: 10px 20px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

  }
}

@media (max-width: 480px) {
  .w3-col.l12 {
    width: 99.99999%;
  }

  .w3-col,
  .w3-half,
  .w3-third,
  .w3-twothird,
  .w3-threequarter,
  .w3-quarter {
    // float: left;
    width: 100%;
  }

  div {
    display: block;
  }

  .w3-light-grey,
  .w3-hover-light-grey:hover,
  .w3-light-gray,
  .w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
  }


  .w3-white,
  .w3-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important;
  }

  .w3-margin {
    margin: 16px;
  }

  .w3-card-4,
  .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .w3-container {
    padding: 0.01em 16px;
  }

  .w3-opacity,
  .w3-hover-opacity:hover {
    opacity: 0.60;
  }

  textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none;
    width: 100%;
  }

  .buttomNew {
    border: 0;
    padding: 10px 20px;
    margin-right: 16px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  .buttomEdit {
    border: 0;
    padding: 10px 20px;
    margin-right: 5px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;

  }

  .buttomDel {
    border: 0;
    text-align: right;
    padding: 10px 20px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

  }
}

@media (max-width: 768px) {
  .w3-col.l12 {
    width: 99.99999%;
  }

  .w3-col,
  .w3-half,
  .w3-third,
  .w3-twothird,
  .w3-threequarter,
  .w3-quarter {
    // float: left;
    width: 100%;
  }

  div {
    display: block;
  }

  .w3-light-grey,
  .w3-hover-light-grey:hover,
  .w3-light-gray,
  .w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
  }


  .w3-white,
  .w3-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important;
  }

  .w3-margin {
    margin: 16px;
  }

  .w3-card-4,
  .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .w3-container {
    padding: 0.01em 16px;
  }

  .w3-opacity,
  .w3-hover-opacity:hover {
    opacity: 0.60;
  }

  textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none;
    width: 100%;
  }

  .buttomNew {
    border: 0;
    padding: 10px 20px;
    margin-right: 16px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  .buttomEdit {
    border: 0;
    padding: 10px 20px;
    margin-right: 5px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;

  }

  .buttomDel {
    border: 0;
    text-align: right;
    padding: 10px 20px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

  }
}

@media (min-width: 993px) {
  .w3-col.l12 {
    width: 99.99999%;
  }

  .w3-col,
  .w3-half,
  .w3-third,
  .w3-twothird,
  .w3-threequarter,
  .w3-quarter {
    // float: left;
    width: 100%;
  }

  div {
    display: block;
  }

  .w3-light-grey,
  .w3-hover-light-grey:hover,
  .w3-light-gray,
  .w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
  }


  .w3-white,
  .w3-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important;
  }

  .w3-margin {
    margin: 16px;
  }

  .w3-card-4,
  .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .w3-container {
    padding: 0.01em 16px;
  }

  .w3-opacity,
  .w3-hover-opacity:hover {
    opacity: 0.60;
  }

  textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none;
    width: 100%;
  }

  .buttomNew {
    border: 0;
    padding: 10px 20px;
    margin-right: 16px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  .buttomEdit {
    border: 0;
    text-align: right;
    padding: 10px 20px;
    margin-right: 5px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;

  }

  .buttomDel {
    border: 0;
    text-align: right;
    padding: 10px 20px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

  }


}
